@import "../partials/mixins";

.one-mode {
  display: flex;
  justify-content: flex-start;
  
  white-space: nowrap;

  h3 {
    font-size: 1.3rem;
  }

  .version {
    margin-left: auto;
    text-align: center;
  }
}

// Other Devices
@media (max-width: ((930px / 16px) * 1rem)) {
  .one-mode {
    display: block;

    h3 {
      @include clamp-font-size(.6rem, 3.0vw, 1.5rem);
      text-align: center;
    }

    .version::after {
      display: block;
      content: "------------------------------------------------";
    }
  }
}