@import "partials/variables";

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: url("./assets/images/1920px-1080px.jpg") center/100% 100% no-repeat;
  color: $general-font;
  font-family: 'Cinzel', serif;
}

img {
  max-width: 100%;
  height: auto;
}

.grid-container {
  max-width: calc((1100 / 16) * 1rem);
  margin: 0 auto;
  
  display: grid;
  grid-template-rows: 10rem 1fr 5rem;
  grid-template-columns: 25% 1fr;
  grid-template-areas:
                      "a a"
                      "b c"
                      "d d";
                        
  gap: .5rem;
  height: 100vh;
}

.grid-container > * {
  box-shadow: 5px 5px 5px black;
}

.blur-effect {
  backdrop-filter: blur(3px);
}

@media (max-width: ((1920px / 16px) * 1rem)) and (orientation: landscape) {
  html {
    background: url("./assets/images/1920px-1080px.jpg") center no-repeat;
  }
}